@page "/students/edit/{StudentId}"
@using Assignment2_Student.Pages
@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager navigation
@inject IJSRuntime js
<h2>Edit</h2>
<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">First Name</label>
                <input for="Name" class="form-control" @bind="@student.FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label">Last Name</label>
                <input for="Designation" class="form-control" @bind="@student.LastName" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" @bind="@student.Email" />
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">BCIT ID</label>
                <input asp-for="Location" class="form-control" @bind="@student.BCIT_ID" />
            </div>
            <div class=" form-group">
                <label asp-for="Phone" class="control-label">Phone</label>
                <input asp-for="Phone" class="form-control" @bind="@student.MobileNumber" />
            </div>
            <div class=" form-group">
                <label asp-for="Phone" class="control-label">City</label>
                <input asp-for="Phone" class="form-control" @bind="@student.City" />
            </div>
            <div class=" form-group">
                <label asp-for="Phone" class="control-label">Set</label>
                <input asp-for="Phone" class="form-control" @bind="@student.Set" />
            </div>
            <div class=" form-group">
                <label asp-for="Phone" class="control-label">Option</label>
                <input asp-for="Phone" class="form-control" @bind="@student.Option" />
            </div>
            <div class="form-group">
                <input type="submit"
                       value="Save" @onclick="@( async() => await UpdateStudent())"
                       @onclick:preventDefault="preventDefault"
                       class="btn btn-success" />
                <input type="submit" value="Cancel" @onclick="@cancel" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@code {

    [Parameter]
    public string StudentId { get; set; }
    string baseUrl = "https://localhost:44396/";
    bool preventDefault = false;
    Student student = new Student();

    protected override async Task OnInitializedAsync()
    {
        student = await Http.GetFromJsonAsync<Student>($"{baseUrl}api/Students/" + StudentId);
    }

    protected async Task UpdateStudent()
    {
        string endpoint = $"{baseUrl}api/Students/{StudentId}";

        Http.PutAsJsonAsync(endpoint, student);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");

        navigation.NavigateTo("/students");


    }

    void cancel()
    {
        navigation.NavigateTo("/students");

    }
}